/* Comment */
@font-face {
    font-family: 'JetbrainsMono';
    src: url('../webfonts/JetBrainsMono-Regular.woff2') format('woff');
}

h3 {
    font-family: 'JetbrainsMono', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

div.trim {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    max-width: 100%;
    overflow: hidden;
}

img#lonestar {
    float: left;
    transform: scale(0.5);
}

img.imgTex {
    opacity: 0.666;
}

div.containerRelative {
    position: relative;
}

div.cenetered {
    position: absolute;
    color: red;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 28px;
}

div#divCenter {
    text-align: center;
}

a.nav-link:hover,
a.dropdown-item:hover {
    color: red;
}
